body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  
  .banner {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  
  .product-slider {
    background-color: #f7f7f7;
    padding: 2rem 0;
  
    .slider-container {
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
  
      .slider {
        display: flex;
        transition: transform 0.3s ease-in-out;
  
        .product {
          flex: 0 0 33.33%;
          padding: 1rem;
          box-sizing: border-box;
          background-color: #fff;
          border: 1px solid #ddd;
  
          @media screen and (max-width: 768px) {
            flex: 0 0 50%;
          }
        }
      }
    }
  }


.header{
  padding-top: 1rem;
  position: fixed;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-left:30px;
  padding-right: 50px; 
  color: gray;
}

.header-mid-buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.header-side-buttons{
  position: relative;
  display: flex;
  color:white;
  margin-right: 70px;
  gap: 40px;
  font-size: xx-large;
}

.secondary-header{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
  background-color: transparent;
  width: 100vw;
 
  margin:auto;
  top:50px;
  color: white;
}
  
.secondary-child-header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  width:fit-content;
  background: rgba(255, 255, 255, 0.2); /* Background color with transparency */
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 0px 20px;
}

.secondary-header-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:10px;
  cursor: pointer;
}

// nav drop down 
.dropdown-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}